html, body, section, .full-height {
  height: 100%;
} 

#pad{
  background-color: #2D3737;
  border: none;
  color: #FFF;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  outline: none;
  overflow: auto;
  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#markdown {
  border-left: 1px solid #2D3737;
  overflow: auto;
}
